{# templates/_base.html #}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Twig</title>
</head>
<body>
    {% if usuario %}
    <h1>Bem vindo(a) {{ usuario }}!</h1>
    {% endif %}


    <h2>Super Site Twig Master</h2>

    {% if titulo %}
    <h2>{{ titulo }}</h2>
    {% endif %}

    <hr>
    <a href="index.php">Inicial</a> | 
    <a href="compras.php">Compras</a> |
    <a href="horario.php">Horario</a> |
    <a href="compromissos.php">Lista de compromissos</a> |
    <a href="logout.php">Logout</a> |
    <a href="alterar_senha.php">Alterar senha</a>
    <hr>

    {% block conteudo %}{% endblock %}

</body>
</html>