{% extends "_base.html" %}

{% block conteudo %}
página de {{ titulo }}

<h3>adicionar compromissos</h3>
<form action="compromissos_adc.php" method="POST">
    <input type="text" name="titulo" placeholder="Titulo">
    <br>
    <input type="date" name="data">
    <br>
    <input type="submit" value="Adicionar">
</form>

<h3>Minha lista de compromissos</h3>
<a href="compromissos.php?data=recente">Mais próximo</a> | 
<a href="compromissos.php?data=distante">Mais distante</a> |
<a href="compromissos.php?data=alfabeto">Ordem alfabética</a>
<ul>
    {% for compromisso in compromissos %}
        <li>{{compromisso.titulo}} <br> {{compromisso.data}} <br> 
        <a href="compromissos_exc.php?id={{compromisso.id}}">Excluir</a> - 
        <a href="compromissos_edit_render.php?id={{compromisso.id}}">Editar</a></li>
        <br>
    {% endfor %}
</ul>
{% endblock %}
