{# templates/compras.html #}
{% extends "_base.html" %}

{% block conteudo %}
página de {{ titulo }}

<h3>adicionar item</h3>
<form action="compras_adc.php" method="POST">
    <input type="text" name="item" placeholder="Escreva o nome do item">
    <input type="submit" value="Adicionar">
</form>

<h3>Minha lista de compras</h3>
<ul>
    {% for compra in compras %}
        <li>{{compra.item}} - <a href="compras_exc.php?id={{compra.id}}">Excluir</a> - <a href="compras_edit.php?id={{compra.id}}">Editar</a></li>
        <br>
    {% endfor %}
</ul>
{% endblock %}
